@import url(https://fonts.googleapis.com/css?family=Lato:100,400);

html {
    /* background: url(background.jpg) no-repeat center center fixed; */
    background: #fff;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

body {
    background: none;
    font-family: 'Lato';
    margin: 1em auto;
}

h1 {
    font-size: 6em;
    font-weight: 100;
    margin: 0.5em 0;
}

div.box {
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-top: 1em;
    padding: 1em;
}

div.calc-box div.row {
    line-height: 34px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

div.total-box div.row {
    font-size: 2em;
    font-weight: 100;
    margin-top: 0.75em;
}

div.total-box div.row span.value {
    border-bottom: 1px solid #ccc;
    font-size: 2em;
    padding: 0 0.1em;
}
