@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Patua+One);

body {
    background: none;
    font-family: 'Ubuntu Mono', Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    margin: 1em auto;
}

h1 {
    color: #333;
    font-family: 'Patua One';
    font-size: 6em;
    margin: 0.5em 0;
}

div.box {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-top: 1em;
    padding: 1em;
}

div.calc-box div.row {
    line-height: 50px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

div.calc-box div.btn-group div.emoji {
    font-size: 2em;
}

div.total-box div.total {
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

div.total-box div.row span.value {
    border-bottom: 1px solid #ccc;
    padding: 0 0.1em;
}

div.social-box table tbody td {
    font-size: 1.5em;
}

div.social-box table tbody.has-not-voted td.vote span.value {
    background-color: #999;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    width: 100%;
}

div.content {
    position: relative;
}

div.content div.login {
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 0;
    display: none;
    font-size: 4em;
    left: 0;
    padding: 2em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 99;
}

body.not-logged-in div.content div.login {
    display: block;
}
